[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
speechrecognition = "*"
sounddevice = "*"
numpy = "*"
soundfile = "*"
gtts = "*"
playsound = "*"
pyaudio = {path = "./PyAudio-0.2.11-cp39-cp39-win_amd64.whl"}
schedule = "*"
requests = "*"
pyinstaller = "*"

[dev-packages]

[requires]
python_version = "3.9"
